/*body styles*/

.body-container {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: fit-content;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.body-container p {
  grid-column: 1;
  font-size: 24px;
  line-height: 2em;
  margin: 50px 100px 25px 100px;
  text-indent: 50px;
  color: #7a68ff;
  text-shadow: #a5ff00 0px 3px 1px;
}

.body-container p {
  grid-column: 2;
  margin: 0 80px;
  max-width: 850px;
  text-indent: 0;
  font-size: 24pt;
  line-height: 100px;
}

#gmaps-damien {
  grid-column: 1;
  height: 615px;
  width: 850px;
  margin-top: 55px;
  margin-left: 70px;
  box-shadow: #a5ff00 0px 0px 10px;
}
