/*CSS reset*/

* {
  box-sizing: border-box;
  font-family: printClearly;
  margin: 0;
}

/*header styles*/

header {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  align-items: center;
}

#logo {
  margin-left: 20px;
}

#contact {
  margin-left: auto;
  justify-self: flex-end;
}

.navbar ul {
  display: inline-flex;
  flex-wrap: nowrap;
  list-style-type: none;
  width: 100%;
}

a {
  font-family: fantasy;
  font-size: 30px;
  padding-right: 50px;
  color: #7a68ff;
  text-decoration: none;
  text-shadow: #a5ff00 0px 3px 1px;
}

a:hover {
  color: #a5ff00;
  text-shadow: #7a68ff 0px 3px 10px;
  text-decoration: underline;
}
